@import '../scss/variables';

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1200px;
  background: $dark-gray;
}

a {
  color: $dark-blue;
}